#root {
  margin: 0 auto;
}
body{
  overflow: hidden;
  margin: 0;
  padding: 0;

}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Applying the animation to a class using Tailwind */
.animate-shake {
  animation: shake 0.5s ease-in-out;
}
